.search-container {
    display: flex;
    flex-direction: row;

    input[type="text"] {
        border: none;
        width: 50%;
        margin-left: 10px;
    }
}

.drivers-list {
    height: 210px;
    min-height: 210px;
    overflow: auto;
}

.material-icons {
    vertical-align: middle;
}

.sortButton {
    cursor: pointer;
}

.sortButton:first-child {
    margin-right: 5px;
}