.app-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 80%;

  h1 {
    font-size: 22pt;
    margin-bottom: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 350px;
    
    .first {
      flex: 39% 1;
    }

    .second {
      flex: 59% 1;
    }
  
    .space {
      flex: 2% 1;
    }
  }
}
