@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.app-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 80%;

  h1 {
    font-size: 24pt;
    margin-bottom: 50px;
  }

  .content {
    display: flex;
    flex-direction: row;

    .first {
      flex: 40% 1;
    }

    .second {
      flex: 60% 1;
    }
  }
}
