.app-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 80%;

  h1 {
    font-size: 4vh;
    // margin-bottom: 25px;
    // height: 10vh;
  }

  .first-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    height: 45vh;
    
    .first {
      flex: 39% 1;
    }

    .second {
      flex: 59% 1;
    }
  
    .space {
      flex: 2% 1;
    }
  }
}

.second-row {
  height: 38vh;
}
